{include file="public/header" /}
<div class="layui-row layui-col-space15">
	<div class="layui-col-md6">
		<div class="layui-card">
			<div class="layui-card-header">订单信息</div>
			<div class="layui-card-body">
				<div class="layui-carousel layadmin-carousel layadmin-backlog" lay-anim="" lay-indicator="inside" lay-arrow="none" style="width: 100%; height: 280px;">
					<div carousel-item="">
						<ul class="layui-row layui-col-space10 layui-this">
							<li class="layui-col-xs6">
								<a lay-href="" class="layadmin-backlog-body">
									<h3>待发货订单</h3>
									<p><cite>{$statistics['sendOrderCount']}</cite></p>
								</a>
							</li>
							<li class="layui-col-xs6">
								<a lay-href="" class="layadmin-backlog-body">
									<h3>已完成订单</h3>
									<p><cite>{$statistics['finishOrderCount']}</cite></p>
								</a>
							</li>
							<li class="layui-col-xs6">
								<a lay-href="" class="layadmin-backlog-body">
									<h3>待处理的退款</h3>
									<p><cite>{$statistics['returnedOrderCount']}</cite></p>
								</a>
							</li>
							<li class="layui-col-xs6">
								<a lay-href="" class="layadmin-backlog-body">
									<h3>退款失败订单</h3>
									<p><cite>{$statistics['returnFailCount']}</cite></p>
								</a>
							</li>
						</ul>
					</div>
					<button class="layui-icon layui-carousel-arrow" lay-type="sub"></button>
					<button class="layui-icon layui-carousel-arrow" lay-type="add"></button>
				</div>
			</div>
		</div>
	</div>
	<div class="layui-col-md6">
		<div class="layui-card">
			<div class="layui-card-header">商品/会员信息</div>
			<div class="layui-card-body">

				<div class="layui-carousel layadmin-carousel layadmin-backlog" lay-anim="" lay-indicator="inside" lay-arrow="none" style="width: 100%; height: 280px;">
					<div carousel-item="">
						<ul class="layui-row layui-col-space10 layui-this">
							<li class="layui-col-xs6">
								<a lay-href="" class="layadmin-backlog-body">
									<h3>商品总数</h3>
									<p><cite>{$statistics['goodsCount']}</cite></p>
								</a>
							</li>
							<li class="layui-col-xs6">
								<a lay-href="" class="layadmin-backlog-body">
									<h3>商品库存报警</h3>
									<p><cite>{$statistics['warningCount']}</cite></p>
								</a>
							</li>
							<li class="layui-col-xs6">
								<a lay-href="" class="layadmin-backlog-body">
									<h3>缺货商品</h3>
									<p><cite>{$statistics['zeroCount']}</cite></p>
								</a>
							</li>
							<li class="layui-col-xs6">
								<a lay-href="" class="layadmin-backlog-body">
									<h3>会员总数</h3>
									<p><cite>{$statistics['userCount']}</cite></p>
								</a>
							</li>
						</ul>
					</div>
					<button class="layui-icon layui-carousel-arrow" lay-type="sub"></button>
					<button class="layui-icon layui-carousel-arrow" lay-type="add"></button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="layui-row layui-col-space15">
	<div class="layui-col-md6">
		<div class="layui-card">
			<div class="layui-card-header">版本信息</div>
			<div class="layui-card-body layui-text">
				<table class="layui-table">
					<colgroup>
						<col width="100">
						<col>
					</colgroup>
					<tbody>
					<tr>
						<td>当前版本</td>
						<td>{$base.version}</td>
					</tr>
					<tr>
						<td>前端框架</td>
						<td>{$base.front}</td>
					</tr>
					<tr>
						<td>后端框架</td>
						<td>{$base.backend}</td>
					</tr>
					<tr>
						<td>PHP版本</td>
						<td>{$base.phpversion}</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="layui-col-md6">
		<div class="layui-card">
			<div class="layui-card-header">系统信息</div>
			<div class="layui-card-body layui-text">
				<table class="layui-table">
					<colgroup>
						<col width="200">
						<col>
					</colgroup>
					<tbody>
					<tr>
						<td>MySQL版本</td>
						<td>{$info.mysql}</td>
					</tr>
					<tr>
						<td>运行环境</td>
						<td>
							{$info.environment}
						</td>
					</tr>
					<tr>
						<td>上传最大限制</td>
						<td>{$info.onload}</td>
					</tr>
					<tr>
						<td>时区</td>
						<td>{$info.timezone}</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{include file="public/footer" /}