<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title></title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel="stylesheet" href="__LAYUI__/css/layui.css" media="all">
	<link rel="stylesheet" href="__CSS__/font-awesome.min.css" media="all">
	<link rel="stylesheet" href="__CSS__/admin-1.css" media="all">
	<link rel="stylesheet" href="__CSS__/style.css" media="all">
	<script type="text/javascript" src="__LAYUI__/layui.js"></script>
	<script type="text/javascript" src="__JS__/jquery.min.js"></script>
	<script type="text/javascript" src="__JS__/moment.min.js"></script>
</head>
<body class="layui-layout-body" style="overflow-y:visible">
<!-- 主体内容 -->
<div class="layadmin-tabsbody-item layui-show">
	<div class="layui-fluid">