{include file="public/header" /}
<fieldset class="layui-elem-field" style="border:0">
	<form class="layui-form" lay-filter="searchForm" id="searchForm">
		<div class="layui-form-item" style="float: left;">
			<div class="layui-input-inline">
				<input type="text" name="keyword" autocomplete="off" placeholder="输入商品标题关键字，如果为空查询全部" class="layui-input layui-btn-sm">
			</div>
			<button type="submit" lay-submit lay-filter="searchForm" class="layui-btn layui-btn-warm"><i class="fa fa-search"></i> 搜索</button>
			<a class="layui-btn" href="{:url('goods/add')}"><i class="fa fa-plus"></i> 新增商品</a>
		</div>
	</form>
</fieldset>
<div class="hr-line-dashed"></div>
<table id="datatable" lay-filter="datatable"></table>
<script type="text/html" id="toobar">
	<a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="edit"><i class="fa fa-edit"></i> 编辑</a>
	<a class="layui-btn layui-btn-xs" lay-event="detail"><i class="fa fa-eye"></i> 查看规格</a>
</script>
<script type="text/javascript">
	layui.config({
		base: '/static/admin/js/'
	}).use(['table', 'form', 'layer', 'jquery', 'utils'], function () {
		var table = layui.table, form = layui.form,
			layer = layui.layer, $ = layui.jquery,
			utils = layui.utils;
		var datatable = table.render({
			elem: '#datatable',
			height: 'full-120',
			limit: "{$page_size}",
			url: "{:url('goods/index')}?t=" + new Date().getTime(),
			page: true,
			cols: [[
				{field: 'id', title: 'id', align: 'center', width: 80, fixed: 'left'},
				{field: 'title', title: '商品名称', align: 'center', width: 300, fixed: 'left'},
				{field: 'sn', title: '商品编号', align: 'center', width: 180, fixed: 'left'},
				{field: 'cate_name', title: '所属分类', align: 'center', width: 120},
				{field: 'unit', title: '单位', align: 'center', width: 80},
				{field: 'freight', title: '运费', align: 'center', width: 80},
				{
					field: 'status', title: '状态', align: 'center', width: 80, templet: function (v) {
						if (v.status == 1) {
							return '<a class="layui-btn layui-btn-xs changeStatus" lay-event="changeStatus">在售</a>';
						} else {
							return '<a class="layui-btn layui-btn-danger layui-btn-xs changeStatus" lay-event="changeStatus">已下架</a>\n';
						}
					}
				},
				{field: 'create_time', title: '创建时间', align: 'center', width: 180},
				{field: 'update_time', title: '修改时间', align: 'center', width: 180},
				{title: '操作', align: 'center', toolbar: '#toobar', width: 220}
			]]
		});
		table.on('tool(datatable)', function (obj) {
			var data = obj.data;
			var layEvent = obj.event;
			if (layEvent === 'edit') {
				layer.open({
					type: 2,
					title: '修改系统用户',
					area: ['620px', '450px'],
					scrollbar: false,
					anim: 2,
					shadeClose: true,
					content: "{:url('goods/edit')}?t=" + new Date().getTime() + '&id=' + data.id
				});
			} else if (layEvent === 'changeStatus') {
				var tip = parseInt(data.status) == 1 ? '禁用' : '启用';
				layer.confirm('确定要' + tip + '【' + data.real_name + '】此系统用户吗？', {title: '修改用户状态', icon: 0, btn: ['确定', '取消']}, function () {
					$.post("{:url('goods/change_status')}?t=" + new Date().getTime(), {id: data.id, status: data.status}, function (result) {
						if (result.code == 1) {
							layer.msg('用户状态修改成功', {icon: 1, time: 1000, offset: 't'}, function () {
								datatable.reload();
							});
						} else {
							layer.msg(result.msg, {offset: 't', icon: 2});
						}
					}, 'json');
				});
			}
		});
		//监听搜索提交
		form.on('submit(searchForm)', function (data) {
			var keyword = encodeURI($('input[name=keyword]').val());
			datatable.reload({where: {keyword: keyword, page: 1}});
			return false;
		});
	});
</script>
{include file="public/footer" /}