{include file="public/header" /}
<div style="width:700px;margin-left:20px" id="selectSpecDiv">
	<div class="layui-row" id="fromParent"></div>
	<div class="layui-row">
		<fieldset class="layui-elem-field site-demo-button">
			<legend>规格</legend>
			<div class="specNameDIV">
				{volist name="spec" id="s1"}
				<a class="layui-btn layui-btn-primary layui-btn-sm spec_names" id="spec{$s1.id}" data_id="{$s1.id}" value="{$s1.id}:{$s1.name}">{$s1.name}（{$s1.note}）<span class="layui-badge num"></span></a>
				{/volist}
			</div>
		</fieldset>
	</div>
	<br>
	<div class="layui-row">
		<form class="layui-form" id="selectForm">
			{volist name="spec" id="s2"}
			<fieldset class="layui-elem-field site-demo-button valueFieldset valueFieldset{$s2.id}">
				<legend>规格值&emsp;<input type="checkbox" title="全选" lay-filter="check_all" class="check_all" id="check_all{$s2.id}" lay-skin="primary"/></legend>
				<div class="valueDiv valueDiv{$s2.id}" flag="{$s2.id}">
					{volist name="s2.value" id="v"}
					<input type="checkbox" data="{$v.id}:{$v.name}" value="{$v.id}" title="{$v.name}" lay-skin="primary" lay-filter="check_single">
					{/volist}
				</div>
			</fieldset>
			{/volist}
			<br>
			<br>
			<div class="layui-form-item">
				<div class="layui-input-block" style="margin-left:180px">
					<a class="layui-btn" id="saveData">立即提交</a>&emsp;
					<a class="layui-btn layui-btn-primary" id="closeIframe">关闭窗口</a>
				</div>
			</div>
		</form>
	</div>
</div>
<script type="text/javascript">
	var specStringResult = ''; // 给父页面返回的规格和规格值字符串
	layui.use(['form', 'layer', 'jquery'], function () {
		var form = layui.form, layer = layui.layer, $ = layui.jquery;

		// 打开规格iframe页面的时候初始化，有可能是编辑
		function spec_init(spec_init_str) {
			//console.log(spec_init_str);
			// spec_dcr = spec_dcr.split(",");
			// spec_dcr = spec_dcr.uniq();
			// var len = spec_dcr.length;
			// for (var i = 0; i < len; i++) {
			// 	var value = spec_dcr[i].split(":");
			// 	$(".spec_values ul").hide();
			// 	$(":checkbox[value='" + value[0] + "']").parent().parent().show();
			// 	$(":checkbox[value='" + value[0] + "']").click();
			// 	var spec_tr = $("#spec_show_list input[value='" + value[0] + "']").parent().parent();
			// 	$("input", spec_tr).eq(2).val(value[2]);
			// 	$("input", spec_tr).eq(3).val(value[3]);
			// 	spec_select();
			// }
		}

		window.spec_init = spec_init;

		// 这里的cur_valueDiv指的是选中所在的fieldset下的valueDiv
		function value_select_event(cur_valueDiv) {
			var all_inputs = cur_valueDiv.find('input');// 所有的
			var checked_inputs = cur_valueDiv.find('input:checked');// 被选中的规格值
			var all_inputs_length = all_inputs.length,
				checked_inputs_length = checked_inputs.length;
			// specNameDIV_A指的是规格上的a
			var flag = cur_valueDiv.attr('flag'), specNameDIV_A = $('#spec' + flag);
			if (all_inputs_length != checked_inputs_length) {
				$('#check_all' + flag).prop('checked', false);
				form.render('checkbox');
			} else {
				$('#check_all' + flag).prop('checked', true);
				form.render('checkbox');
			}
			if (checked_inputs_length > 0) {
				specNameDIV_A.find('.num').html(checked_inputs_length).show();
				specNameDIV_A.addClass('select')
			} else {
				specNameDIV_A.find('.num').html(0).hide();
				specNameDIV_A.removeClass('select')
			}
			specStringResult = '';// 一定要再次进行初始化为空
			$('.specNameDIV').find('a.select').each(function () {
				var _this = $(this), _id = _this.attr('data_id');
				specStringResult += _this.attr('value') + '=';
				$('.valueDiv' + _id).find('input:checked').each(function () {
					specStringResult += $(this).attr('data') + ',';
				});
				specStringResult = specStringResult.slice(0, -1);
				specStringResult += ';';
			});
			specStringResult = specStringResult.slice(0, -1);
		}

		// 规格值全选按钮监听事件
		form.on('checkbox(check_all)', function (data) {
			var cur_valueDiv = $('.valueDiv:visible');
			cur_valueDiv.find('input').prop('checked', data.elem.checked);
			form.render('checkbox');
			value_select_event(cur_valueDiv);
		});

		// 规格值单选按钮监听事件
		form.on('checkbox(check_single)', function (data) {
			var _self = $(data.elem), cur_valueDiv = _self.parent('.valueDiv');
			value_select_event(cur_valueDiv);
		});

		$(function () {
			var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
			// 规格按钮点击事件
			$('.spec_names').each(function () {
				var _this = $(this), _id = _this.attr('data_id');
				_this.on('click', function () {
					_this.addClass('current').siblings('a').removeClass('current');
					_this.removeClass('layui-btn-primary').siblings('a').addClass('layui-btn-primary');
					$('.valueFieldset').hide();
					$('.valueFieldset' + _id).show();
				});
			});

			$('#saveData').on('click', function () {
				if ('' === specStringResult) {
					layer.msg('您没有选择任何规格，请选择');
					return false;
				}
				parent.makeSpecHtml(specStringResult);
				parent.layer.close(index);
				return false;
			});

			// 关闭弹窗
			$('#closeIframe').click(function () {
				parent.layer.close(index);
			});
		})
	});
</script>
{include file="public/footer" /}