{include file="public/header" /}
<fieldset class="layui-elem-field" style="border:0">
	<form class="layui-form" lay-filter="searchForm" id="searchForm">
		<div class="layui-form-item" style="float: left;">
			<div class="layui-input-inline">
				<input type="text" name="keyword" autocomplete="off" placeholder="输入用户手机号码，如果为空查询全部" class="layui-input layui-btn-sm">
			</div>
			<button type="submit" lay-submit lay-filter="searchForm" class="layui-btn layui-btn-warm"><i class="fa fa-search"></i> 搜索</button>
		</div>
	</form>
</fieldset>
<div class="hr-line-dashed"></div>
<table id="datatable" lay-filter="datatable"></table>
<script type="text/html" id="toobar">
	<a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="info"><i class="fa fa-eye"></i> 用户详情</a>
</script>
<script type="text/javascript">
	layui.config({
		base: '/static/admin/js/'
	}).use(['table', 'form', 'layer', 'jquery', 'utils', 'element', 'laytpl', 'flow'], function () {
		var table = layui.table, form = layui.form, layer = layui.layer, $ = layui.jquery,
			utils = layui.utils, element = layui.element, laytpl = layui.laytpl, flow = layui.flow;
		//监听Tab切换，以改变地址hash值
		element.on('tab(userinfo)', function () {
			var lay_id = this.getAttribute('lay-id');
			location.hash = 'userinfo=' + lay_id;
		});
		var datatable = table.render({
			elem: '#datatable',
			height: 'full-120',
			limit: "{$page_size}",
			url: "{:url('user/index')}?t=" + new Date().getTime(),
			page: true,
			cols: [[
				{field: 'id', title: '序号', align: 'center', width: 80},
				{field: 'username', title: '用户名', align: 'center', width: 120},
				{field: 'tel', title: '手机号码', align: 'center', width: 120},
				{field: 'score', title: '总积分', align: 'center', width: 100},
				{field: 'money', title: '现金余额', align: 'center', width: 110},
				{field: 'station_name', title: '监测站', align: 'center', width: 110},
				{field: 'manufactor', title: '设备厂家', align: 'center', width: 110},
				{field: 'duty', title: '主要职务', align: 'center', width: 110},
				{
					field: 'status', title: '状态', align: 'center', width: 80, templet: function (v) {
						if (v.status == 1) {
							return '<a class="layui-btn layui-btn-xs changeStatus" lay-event="changeStatus">已开启</a>';
						} else {
							return '<a class="layui-btn layui-btn-danger layui-btn-xs changeStatus" lay-event="changeStatus">已禁用</a>';
						}
					}
				},
				{title: '操作', align: 'center', toolbar: '#toobar', width: 120}
			]]
		});
		table.on('tool(datatable)', function (obj) {
			var data = obj.data;
			var layEvent = obj.event;
			if (layEvent === 'changeStatus') {
				var tip = parseInt(data.status) == 1 ? '禁用' : '启用';
				layer.confirm('确定要' + tip + '【' + data.username + '】此用户吗？<br>注意：如禁用此用户无法登录小程序', {title: '修改用户状态', icon: 0, btn: ['确定', '取消']}, function () {
					$.post("{:url('user/change_status')}?t=" + new Date().getTime(), {id: data.id, status: data.status}, function (result) {
						if (result.code == 1) {
							layer.msg('用户状态修改成功', {icon: 1, time: 1000, offset: 't'}, function () {
								datatable.reload();
							});
						} else {
							layer.msg(result.msg, {offset: 't', icon: 2});
						}
					}, 'json');
				});
			} else if (layEvent == 'info') {
				$.ajax({
					type: 'post',
					dataType: 'json',
					data: 'id=' + data.id,
					url: "{:url('user/detail')}?t=" + new Date().getTime(),
					beforeSend: function () {
						layer.load();
					},
					success: function (result) {
						layer.closeAll();
						if (result.code == 1) {
							var getTpl = $('#infoHtml').html();
							laytpl(getTpl).render(result, function (html) {
								layer.open({
									type: 1,
									title: '用户【 ' + data.username + ' 】详情',
									area: ['80%', '500px'],
									scrollbar: false,
									anim: 2,
									shadeClose: true,
									content: html
								});
							});
						} else {
							layer.open({
								type: 2,
								title: '用户详情获取失败，联系系统管理员',
								area: ['600px', '350px'],
								scrollbar: false,
								anim: 2,
								shadeClose: true,
								content: "{:url('system/mistake')}"
							})
						}
					}
				});
			}
		});
		// 添加用户事件，暂时不开放，需要用户前台注册
		// $('#addBtn').on('click', function () {
		// 	layer.open({
		// 		type: 2,
		// 		title: '新增用户',
		// 		area: ['650px', '360px'],
		// 		scrollbar: false,
		// 		anim: 2,
		// 		shadeClose: true,
		// 		content: "{:url('user/add')}?t=" + new Date().getTime()
		// 	});
		// 	return false;
		// });
		//监听搜索提交
		form.on('submit(searchForm)', function (data) {
			var keyword = encodeURI($('input[name=keyword]').val());
			datatable.reload({where: {keyword: keyword, page: 1}});
			return false;
		});
		// 用户详情中的更多
		$('body').on('click', '.layui-flow-more a', function () {
			var _this = $(this), url = _this.attr('href'), uid = _this.attr('uid'),
				page = _this.attr('page'), cate = _this.attr('cate');
			var _img = _this.siblings('img');
			$.ajax({
				url: url + '?t=' + new Date().getTime(),
				type: 'post',
				data: {id: uid, cate: cate, page: page},
				dataType: 'json',
				beforeSend: function () {
					_this.hide();
					_img.show();
				},
				success: function (data) {
					if (data.code === 1) {
						var rows = '';
						switch (cate.toLowerCase()) {
							case 'score':
							case 'money':
								layui.each(data.list, function (i, v) {
									rows += '<tr><td>' + v.id + '</td>';
									rows += '<td>' + moment(v.create_time * 1000).format('YYYY-MM-DD HH:mm:ss') + '</td>';
									rows += '<td>' + v.value + '</td>';
									rows += '<td>' + v.note + '</td></tr>';
								});
								break;
							case 'coupon':
								layui.each(data.list, function (i, v) {
									var statusString = '', expireString = '';
									if (v.status == 0) {
										statusString = '<span class="layui-badge layui-bg-gray">未使用</span>';
									} else {
										statusString = '<span class="layui-badge layui-bg-green">已使用</span>';
									}
									if (v.status == 0 && v.expire === 1) {
										expireString = '<img src="__IMG__/expire.png">';
									}
									var useString = v.update_time ? moment(v.update_time * 1000).format('YYYY-MM-DD') : '-';
									rows += '<tr><td>' + v.id + '</td>';
									rows += '<td>' + v.name + '</td>';
									rows += '<td>' + v.value + '</td>';
									rows += '<td>' + v.money + '</td>';
									rows += '<td>' + statusString + '</td>';
									rows += '<td>' + moment(v.create_time * 1000).format('YYYY-MM-DD') + '</td>';
									rows += '<td>' + useString + '</td>';
									rows += '<td>' + moment(v.start * 1000).format('YYYY-MM-DD') + '</td>';
									rows += '<td>' + moment(v.end * 1000).format('YYYY-MM-DD') + expireString + '</td></tr>';
								});
								break;
						}
						_this.closest('tr').before(rows);
						if (data.more === 0) {
							_this.closest('.layui-flow-more').html('全部加载完毕，没有更多了');
						} else {
							_this.attr('page', ++page).show();
							_img.hide();
						}
					} else {
						_this.closest('.layui-flow-more').html('全部加载完毕，没有更多了');
					}
				}
			});
			return false;
		})
	});
</script>
<script type="text/x-template" id="infoHtml">
	<div class="layui-tab layui-tab-brief" lay-filter="userinfo" id="userInfoBox" style="padding:10px 20px">
		<ul class="layui-tab-title">
			<li class="layui-this" lay-id="base">基本信息</li>
			<li lay-id="score">积分信息</li>
			<li lay-id="money">钱包信息</li>
			<li lay-id="coupon">优惠券信息</li>
		</ul>
		<div class="layui-tab-content">
			<div class="layui-tab-item layui-show">
				<table class="layui-table" id="userTable2">
					<tbody>
					<tr>
						<td class="tHead">用户名</td>
						<td>{{ d.user.username }}</td>
						<td class="tHead">手机号码</td>
						<td>{{ d.user.tel }}</td>
						<td class="tHead">生日</td>
						<td>{{ d.user.birthday }}</td>
					</tr>
					<tr>
						<td class="tHead">总积分</td>
						<td>{{ d.user.score }}</td>
						<td class="tHead">钱包余额</td>
						<td>{{ d.user.money }}</td>
						<td class="tHead">优惠券</td>
						<td>2张</td>
					</tr>
					<tr>
						<td class="tHead">监测站名称</td>
						<td colspan="5">{{ d.user.station_name }}</td>
					</tr>
					<tr>
						<td class="tHead">设备厂家名称</td>
						<td colspan="5">{{ d.user.manufactor }}</td>
					</tr>
					<tr>
						<td class="tHead">主要职务</td>
						<td colspan="5">{{ d.user.duty }}</td>
					</tr>
					<tr>
						<td class="tHead">注册时间</td>
						<td>{{ moment(d.user.create_time * 1000).format('YYYY-MM-DD HH:mm:ss') }}</td>
						<td class="tHead">最后登录时间</td>
						<td>{{ moment(d.user.last_time * 1000).format('YYYY-MM-DD HH:mm:ss') }}</td>
						<td class="tHead">状态</td>
						<td>{{ d.user.status==1?'有效':'禁用' }}</td>
					</tr>
					<tr>
						<td class="tHead">注册IP</td>
						<td colspan="5">
							{{ d.user.create_ip }}&emsp;
							{{ d.user.create_region }}
						</td>
					</tr>
					<tr>
						<td class="tHead">最后登录ip</td>
						<td colspan="5">
							{{ d.user.last_ip }}&emsp;
							{{ d.user.last_region }}
						</td>
					</tr>
					</tbody>
				</table>
			</div>
			<div class="layui-tab-item">
				<table class="layui-table">
					<tr>
						<th>序号</th>
						<th>时间</th>
						<th>收入/支出</th>
						<th>详细说明</th>
					</tr>
					{{# layui.each(d.score, function(i,v){ }}
					<tr>
						<td>{{ v.id }}</td>
						<td>{{ moment(v.create_time * 1000).format('YYYY-MM-DD HH:mm:ss') }}</td>
						<td>{{ v.value }}</td>
						<td>{{ v.note }}</td>
					</tr>
					{{# }); }}
					{{# if(d.score.length === 0){ }}
					<tr>
						<td colspan="4">暂无积分明细</td>
					</tr>
					{{# } else { }}
					<tr class="moreTR">
						<td colspan="4">
							<div class="layui-flow-more"><a href="{:url('user/detail')}" uid="{{d.user.id}}" cate="score" page="2"><cite>加载更多</cite></a><img src="__IMG__/loading.gif" alt="正在加载数据"></div>
						</td>
					</tr>
					{{# } }}
				</table>
			</div>
			<div class="layui-tab-item">
				<table class="layui-table" id="moneyTable">
					<tr>
						<th>序号</th>
						<th>时间</th>
						<th>收入/支出</th>
						<th>详细说明</th>
					</tr>
					{{# layui.each(d.money, function(i,v){ }}
					<tr>
						<td>{{ v.id }}</td>
						<td>{{ moment(v.create_time * 1000).format('YYYY-MM-DD HH:mm:ss') }}</td>
						<td>{{ v.value }}</td>
						<td>{{ v.note }}</td>
					</tr>
					{{# }); }}
					{{# if(d.money.length === 0){ }}
					<tr>
						<td colspan="4">暂无钱包明细</td>
					</tr>
					{{# } else { }}
					<tr class="moreTR">
						<td colspan="4">
							<div class="layui-flow-more"><a href="{:url('user/detail')}" uid="{{d.user.id}}" cate="money" page="2"><cite>加载更多</cite></a><img src="__IMG__/loading.gif" alt="正在加载数据"></div>
						</td>
					</tr>
					{{# } }}
				</table>
			</div>
			<div class="layui-tab-item">
				<table class="layui-table" id="couponTable">
					<tr>
						<th>序号</th>
						<th>优惠券名称</th>
						<th>面值</th>
						<th>消费金额</th>
						<th>状态</th>
						<th>领取时间</th>
						<th>使用时间</th>
						<th>有效期开始</th>
						<th>有效期结束</th>
					</tr>
					{{# layui.each(d.coupon, function(i,v){ }}
					<tr>
						<td>{{ v.id }}</td>
						<td>{{ v.name }}</td>
						<td>{{ v.value }}</td>
						<td>{{ v.money }}</td>
						<td>
							{{# if(v.status == 0){ }}
							<span class="layui-badge layui-bg-gray">未使用</span>
							{{# }else{ }}
							<span class="layui-badge layui-bg-green">已使用</span>
							{{# } }}
						</td>
						<td>{{ moment(v.create_time * 1000).format('YYYY-MM-DD') }}</td>
						<td>{{ v.update_time?moment(v.update_time * 1000).format('YYYY-MM-DD'):'-' }}</td>
						<td>{{ moment(v.start * 1000).format('YYYY-MM-DD') }}</td>
						<td>
							{{ moment(v.end * 1000).format('YYYY-MM-DD') }}
							{{# if(v.status == 0 && v.expire === 1){ }}
							<img src="__IMG__/expire.png">
							{{# } }}
						</td>
					</tr>
					{{# }); }}
					{{# if(d.coupon.length === 0){ }}
					<tr>
						<td colspan="9">暂无优惠券明细</td>
					</tr>
					{{# } else { }}
					<tr class="moreTR">
						<td colspan="9">
							<div class="layui-flow-more"><a href="{:url('user/detail')}" uid="{{d.user.id}}" cate="coupon" page="2"><cite>加载更多</cite></a><img src="__IMG__/loading.gif" alt="正在加载数据"></div>
						</td>
					</tr>
					{{# } }}
				</table>
			</div>
		</div>
	</div>
</script>
{include file="public/footer" /}