{include file="public/header" /}
<style>
	.layui-form-item .layui-input-inline {
		width: 180px
	}
</style>
<fieldset class="layui-elem-field" style="border:0">
	<form class="layui-form" lay-filter="searchForm" id="searchForm">
		<div class="layui-form-item" style="float: left;">
			<div class="layui-input-inline">
				<input type="text" name="order_no" autocomplete="off" placeholder="16位订单号" class="layui-input layui-btn-sm">
			</div>
			<div class="layui-input-inline">
				<input type="text" name="accept_name" autocomplete="off" placeholder="收件人姓名" class="layui-input layui-btn-sm">
			</div>

			<div class="layui-input-inline">
				<input type="text" name="phone" autocomplete="off" placeholder="收件电话" class="layui-input layui-btn-sm">
			</div>
			<div class="layui-input-inline">
				<select name="status">
					<option value="">==订单状态==</option>
					{volist name="status" id="v"}
					<option value="{$key}">{$v}</option>
					{/volist}
				</select>
			</div>
			<button type="submit" lay-submit lay-filter="searchForm" class="layui-btn layui-btn-warm"><i class="fa fa-search"></i> 搜索</button>
		</div>
	</form>
</fieldset>
<div class="hr-line-dashed"></div>
<table id="datatable" lay-filter="datatable"></table>
<script type="text/html" id="toobar">
	{{#  if(d.status == 5){ }}
	<a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="check"><i class="fa fa-hand-o-right"></i> 审核</a>
	{{#  } }}
	{{#  if(d.status == 10){ }}
	<a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="edit"><i class="fa fa-truck"></i> 发货</a>
	{{#  } }}
	<a class="layui-btn layui-btn-xs" lay-event="detail"><i class="fa fa-eye"></i> 订单详情</a>
</script>
<script type="text/javascript">
	layui.config({
		base: '/static/admin/js/'
	}).use(['table', 'form', 'layer', 'jquery', 'utils'], function () {
		var table = layui.table, form = layui.form,
			layer = layui.layer, $ = layui.jquery,
			utils = layui.utils;
		var datatable = table.render({
			elem: '#datatable',
			height: 'full-120',
			limit: "{$page_size}",
			url: "{:url('order/index')}?t=" + new Date().getTime(),
			page: true,
			cols: [[
				{field: 'id', title: '序号', align: 'center', width: 80},
				{field: 'order_no', title: '订单号', align: 'center', width: 160},
				{field: 'title', title: '商品名称', align: 'center', width: 160},
				{field: 'goods_num', title: '数量', align: 'center', width: 80},
				{field: 'accept_name', title: '收件人', align: 'center', width: 80},
				{field: 'phone', title: '收件人电话', align: 'center', width: 120},
				{field: 'status', title: '订单状态', align: 'center', width: 160},
				{title: '操作', align: 'center', toolbar: '#toobar', width: 200}
			]]
		});
		table.on('tool(datatable)', function (obj) {
			var data = obj.data;
			var layEvent = obj.event;
			if (layEvent === 'detail') {
				window.parent.orderInfo(data.id);
			}
		});
		//监听搜索提交
		form.on('submit(searchForm)', function (data) {
			var order_no = encodeURI($('input[name=order_no]').val());
			var accept_name = encodeURI($('input[name=accept_name]').val());
			var phone = encodeURI($('input[name=phone]').val());
			var status = encodeURI($('select[name=status]').val());
			datatable.reload({
				where: {
					order_no: order_no,
					accept_name: accept_name,
					phone: phone,
					status: status,
					page: 1
				}
			});
			return false;
		});
	});
</script>
{include file="public/footer" /}