{include file="public/header" /}
<style>
	.layui-form-item .layui-input-inline {
		width: 180px
	}
</style>
<fieldset class="layui-elem-field" style="border:0">
	<form class="layui-form" lay-filter="searchForm" id="searchForm">
		<div class="layui-form-item" style="float: left;">
			<div class="layui-input-inline">
				<input type="text" name="order_no" autocomplete="off" placeholder="16位订单号" class="layui-input layui-btn-sm">
			</div>
			<div class="layui-input-inline">
				<input type="text" name="accept_name" autocomplete="off" placeholder="收件人姓名" class="layui-input layui-btn-sm">
			</div>

			<div class="layui-input-inline">
				<input type="text" name="phone" autocomplete="off" placeholder="收件电话" class="layui-input layui-btn-sm">
			</div>
			<div class="layui-input-inline" style="width:200px">
				<select name="status">
					<option value="">==订单状态==</option>
					{volist name="status" id="v"}
					<option value="{$key}">{$v}</option>
					{/volist}
				</select>
			</div>
			<button type="submit" lay-submit lay-filter="searchForm" class="layui-btn layui-btn-warm"><i class="fa fa-search"></i> 搜索</button>
		</div>
	</form>
</fieldset>
<div class="hr-line-dashed"></div>
<table id="datatable" lay-filter="datatable"></table>
<script type="text/html" id="toobar">

	<a class="layui-btn layui-btn-xs" lay-event="detail"><i class="fa fa-eye"></i> 订单详情</a>
	{{#  if(d.status == 5){ }}
	<a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="send"><i class="fa fa-truck"></i> 订单发货</a>
	{{#  } }}
	{{#  if(d.status == 25){ }}
	<a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="return"><i class="fa fa-reply-all"></i> 退货审核</a>
	{{#  } }}

</script>
<script type="text/javascript">
	var sendUrl = "{:url('order/send_goods')}"; // 发货url
	var returnUrl = "{:url('order/return_verify')}"; // 退款审核url

	// 获取订单状态
	function getOrderStatus(status) {
		switch (parseInt(status)) {
			case 1:
				return '订单生成，等待付款';
			case 5:
			case 10:
				return '已经付款，等待发货';
			case 15:
				return '发货成功，等待收货';
			case 20:
				return '已收货，订单完成';
			case 25:
				return '客户退货，等待审核';
			case 30:
				return '退货审核拒绝';
			case 35:
				return '退货审核通过，等待收货';
			case 40:
				return '退货完成';
			case 50:
				return '已经取消';
			default:
				return '错误状态';
		}
	}

	layui.config({
		base: '/static/admin/js/'
	}).use(['table', 'form', 'layer', 'jquery', 'utils'], function () {
		var table = layui.table, form = layui.form,
			layer = layui.layer, $ = layui.jquery,
			utils = layui.utils;
		var datatable = table.render({
			elem: '#datatable',
			height: 'full-120',
			limit: "{$page_size}",
			url: "{:url('order/index')}?t=" + new Date().getTime(),
			page: true,
			cols: [[
				{field: 'id', title: '序号', align: 'center', width: 80},
				{field: 'order_no', title: '订单号', align: 'center', width: 150},
				{field: 'accept_name', title: '收件人', align: 'center', width: 80},
				{field: 'accept_phone', title: '收件人电话', align: 'center', width: 130},
				{field: 'pay_status', title: '支付状态', align: 'center', width: 90},
				{
					field: 'status', title: '订单状态', align: 'center', width: 200, templet: function (v) {
						return getOrderStatus(v.status);
					}
				},
				{field: 'create_time', title: '订单日期', align: 'center', width: 180},
				{title: '操作', align: 'left', toolbar: '#toobar', width: 200}
			]]
		});

		/**
		 * 异步提交发货或者退货审核信息
		 * @param url
		 * @param data
		 */
		function ajaxPost(url, data) {
			$.post(url, data, function (data) {
				layer.closeAll();
				if (data.code === 1) {
					parent.message.show({msg: data.msg});
					datatable.reload();
				} else {
					parent.message.show({skin: 'red', msg: data.msg});
				}
			});
		}

		table.on('tool(datatable)', function (obj) {
			var data = obj.data;
			var layEvent = obj.event;
			if (layEvent === 'detail') {
				window.parent.orderInfo(data.id);
			} else if (layEvent === 'send') {

				// 发货，填写快递单号
				layer.prompt({
					formType: 2,
					shadeClose: true,
					value: '',
					title: '订单号：【 ' + data.order_no + ' 】, 请输入快递单号',
					area: ['380px', '100px']
				}, function (value, index) {
					// 发送异步
					ajaxPost(sendUrl + '?t=' + new Date().getTime(), {id: data.id, courierNumber: $.trim(value)});
					layer.close(index);
				});
			} else if (layEvent === 'return') {
				var url = returnUrl + '?t=' + new Date().getTime();
				layer.open({
					type: 1,
					title: '用户 【 ' + data.accept_name + ' 】 退货审核',
					area: ['580px', '320px'],
					btnAlign: 'c',
					content: $('#returnHtml').html(),
					shadeClose: true,
					btn: ['审核通过', '审核拒绝'],
					yes: function () {
						ajaxPost(url, {id: data.id, status: 35});
					},
					btn2: function () {
						var remark = $.trim($('textarea[name=returnRemark]').val());
						if (remark.length > 200) {
							parent.message.show({skin: 'red', msg: '备注不能超过200个字符'});
							return false;
						}
						if (remark === '') {
							parent.message.show({skin: 'red', msg: '请输入拒绝原因'});
							return false;
						}
						ajaxPost(url, {id: data.id, status: 30, returnRemark: remark});
						return false;
					}
				});
			}
		});
		//监听搜索提交
		form.on('submit(searchForm)', function (data) {
			var order_no = encodeURI($('input[name=order_no]').val());
			var accept_name = encodeURI($('input[name=accept_name]').val());
			var phone = encodeURI($('input[name=phone]').val());
			var status = encodeURI($('select[name=status]').val());
			datatable.reload({
				where: {
					order_no: order_no,
					accept_name: accept_name,
					phone: phone,
					status: status,
					page: 1
				}
			});
			return false;
		});
	});
</script>
<script type="text/html" id="checkHtml">
	<div class="layui-row">
		<div class="layui-col-md12" style="padding:20px">
			<form class="layui-form layui-form-pane" lay-filter="rejectForm">
				<div class="layui-form-item layui-form-text">
					<label class="layui-form-label">拒绝原因</label>
					<div class="layui-input-block">
						<textarea name="check_remark" placeholder="如果通过，不用填写；审核拒绝必须填写理由，不能超过200个字符" class="layui-textarea" style="resize:none"></textarea>
					</div>
				</div>
			</form>
		</div>
	</div>
</script>
<script type="text/html" id="returnHtml">
	<div class="layui-row">
		<div class="layui-col-md12" style="padding:30px 20px">
			<form class="layui-form layui-form-pane" lay-filter="rejectForm">
				<div class="layui-form-item layui-form-text">
					<label class="layui-form-label">拒绝原因（必须在收到退货的货物后才可以审核，通过后会立即发起退款操作）</label>
					<div class="layui-input-block">
						<textarea name="returnRemark" placeholder="如果通过，不用填写；审核拒绝必须填写理由，不能超过200个字符" class="layui-textarea" style="resize:none"></textarea>
					</div>
				</div>
			</form>
		</div>
	</div>
</script>
{include file="public/footer" /}